
ul,li,ol,dl,dd,dt,tr,td,h1,h2,h3,h4,h5,h6,input,img,div,body{
	 margin: 0;padding: 0;
	 list-style:none;
     display: block;}

a{text-decoration: none;padding: 0;
  margin: 0;}

body{
   font-size: 12px;
   font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
   background-color:#f2f2f2;
   
   }
  
  *{

   	box-sizing: border-box;
   }

.banner{ width: 100%;height: 400px; background-image: url(../image/b.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.banner .title{width: auto;height: auto;
               padding-top: 173px; 
              
              }



.banner h1{   width: auto; height: auto;
           text-align: center; 
       }



.banner .title1  a{    font-weight: 700;
                       color: #fff;
                       font-size: 64px;
} 


.banner .title1  a:hover{    text-decoration:underline;
} 




.banner .title2{   
                  color: #fff;
	              font-weight: 100;
                   font-size: 34px;
} 


.logo{width: 78px;height: 68px; margin:0 auto; background-size: cover;  margin-top: 73px;}



/*内容从此开始*/

.container{margin-top: 90px;}
.article{background: white;padding: 15px;margin-bottom: 30px;}
.article a{display: block;width: 100%;/*padding-top: 62.5%;*//*position: relative;*/}
.article img{max-width: 100%;height: auto;display: block;/*position: absolute;left: 0;top: 0*/}
.article h2{height: 43px;text-align: center;line-height: 43px;}
.article h2 a{color: #777;font-size: 24px}
.article h2 a:hover{color: #333;text-decoration: underline;}